{% extends "base.html" %}

{% block extracss %}
<style type="text/css">
td.head { text-align:right; font-weight:bold; }
.sign { margin:10px;}
.sign a { font-size:120%; font-weight:bold;}
.entry { border-top:1px solid #ccc; padding:10px; margin-bottom:10px; width:600px;}
</style>
{% endblock %}

{% block title %}Gästbok - {{ block.super }}{% endblock %}

{% block page_title %}Gästbok{% endblock %}

{% block content %}

<p class="sign">
<a href="{% url 'guestbook:skriv' %}">Skriv in i Gästboken</a>
</p>

{% for entry in entries %}
<div class="entry">

<table>
  <tr>
    <td class="head">Namn:</td>
    <td>{{ entry.name }}</td>
  </tr>
  {% if entry.city %}
  <tr>
    <td class="head">Stad:</td>
    <td>{{ entry.city }}</td>
  </tr>
  {% endif %}

  {% comment %}
  {% if entry.homepage %}
  <tr>
    <td class="head">Hemsida:</td>
    <td><a href="{{ entry.homepage }}" rel="nofollow" target="_blank">{{ entry.homepage }}</a></td>
  </tr>
  {% endif %}
  {% endcomment %}

  <tr>
    <td valign="top" class="head">Kommentar:</td>
    <td>{{ entry.comment|linebreaksbr }}</td>
  </tr>
</table>

</div>
{% endfor %}

{% endblock %}
