{% extends "base.html" %}
{% load thumbnail %}

{% block title %}{{ bust.title }} - {{ block.super }}{% endblock %}

{% block extracss %}
{% thumbnail bust.image "600x600" as im %}
<meta property="og:image" content="{{ STATIC_URL }}{{ im.url }}">
{% endthumbnail %}
{% endblock %}

{% block page_title %}
<a name="title"></a>{{ bust.title }}{% endblock %}
{% block content %}
<span>{{ bust.create_date|date:"M Y" }}</span>


<p>
{% thumbnail bust.image "600x600" as im %}
  <img src="{{ STATIC_URL }}{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" alt="{{ bust.title }}">
{% endthumbnail %}
</p>

<p>
{% with bust.get_previous_by_create_date as prev_bust %}
<a class="prev" href="{% url 'bust' prev_bust.oid %}#title">&lt;&lt; F&#246;reg&#229;ende ({% if prev_bust.title %}{{ prev_bust.title }}{% else %}{{ prev_bust.oid }}{% endif %})</a>
{% endwith %}

&nbsp;
{% with bust.get_next_by_create_date as next_bust %}
{% if next_bust %}
<a class="next" href="{% url 'bust' next_bust.oid %}#title">N&#228;sta ({{ next_bust.title }}) &gt;&gt;</a>
{% endif %}
{% endwith %}
</p>


{% endblock %}
