{% extends "base.html" %}
{% load thumbnail static %}

{% block title %}Kontakt - {{ block.super }}{% endblock %}

{% block page_title %}
Kontakt
{% endblock %}

{% block content %}
<p>
0390 / 101 86<br />
070 / 760 08 67<br />
Thua Bengtsson<br />
Rådmansgränd 8<br />
563 31 Gränna<br />
thuabengtsson@yahoo.se<br />
</p>


<p>
<img src="{% static "images/fonster.jpg" %}" alt="" style="float:left" />
<img src="{% static "images/008.JPG" %}" alt="" style="float:left;margin-right:10px" />

<img src="{% static "images/011.JPG" %}" alt="" style="float:left;margin-right:10px" />

<img src="{% static "images/004.JPG" %}" alt="" style="float:left" />
<img src="{% static "images/024.JPG" %}" alt="" style="float:left;margin-right:10px" />

</p>

{% endblock %}
