{% extends "base.html" %}
{% load thumbnail %}

{% block title %}Länkar - {{ block.super }}{% endblock %}

{% block extracss %}
<style type="text/css">
#lankar a { padding:6px; margin:4px; }
#youtubevideo { float:right; margin-right:40px; width:330px; }
</style>
{% endblock %}

{% block page_title %}
Länkar
{% endblock %}

{% block content %}
<div id="youtubevideo">
{% for embed in embeds %}
  {{ embed.html|safe }}
  {% if embed.note %}
  <p>{{ embed.note }}</p>
  {% endif %}
{% endfor %}
{% comment %}
<object width="320" height="265">
<param name="movie" value="http://www.youtube-nocookie.com/v/dHphetCRNQc&amp;hl=sv&amp;fs=1&amp;rel=0" />
<param name="allowFullScreen" value="true" /><param name="allowscriptaccess" value="always" />
<embed src="http://www.youtube-nocookie.com/v/dHphetCRNQc&amp;hl=sv&amp;fs=1&amp;rel=0" type="application/x-shockwave-flash" allowscriptaccess="always" allowfullscreen="true" width="320" height="265"></embed></object>

<p>Tycker denna videon &#228;r gullig och s&#229; &#228;r det lite reklam f&#246;r Gr&#228;nna</p>


<object width="320" height="265">
<param name="movie" value="http://www.youtube.com/v/voyjVLSuJgA&amp;hl=en_GB&amp;fs=1&amp;" />
<param name="allowFullScreen" value="true" />
<param name="allowscriptaccess" value="always" />
<embed src="http://www.youtube.com/v/voyjVLSuJgA&amp;hl=en_GB&amp;fs=1&amp;" type="application/x-shockwave-flash" allowscriptaccess="always" allowfullscreen="true" width="320" height="265"></embed></object>

<p>Min idol</p>
{% endcomment %}



</div>

<div id="lankar"><a href="http://www.trataljarna.se/" target="_blank">Tr&#228;t&#228;ljarna</a><br />
<a href="http://www.nordiskamuseet.se/" target="_blank">Nordiska museet</a><br />
<a href="http://www.virserumskonsthall.com/" target="_blank">Virserum Konsthall</a><br />
<a href="http://www.slojdmagasinet.nu/" target="_blank">Sl&#246;jdmagasinet</a><br />
<a href="http://www.shrslojd.se/" target="_blank">Hemsl&#246;jdsportalen</a><br />
<a href="http://www.kanalen.org/hantverk/" target="_blank">Hantverkskanalen</a><br />
<a href="http://www.tavido.se/tavido/" target="_blank">Tavido</a><br />
<a href="http://www.naturkonst.net/" target="_blank">Naturkonst</a><br />
<a href="http://www.slojd.nu/" target="_blank">Sl&#246;jd</a><br />

<a href="http://www.snickra.net/" target="_blank">Snickra</a><br />
<a href="http://www.cultur.nu/jam/index.shtml" target="_blank">J&#246;nk&#246;pings Allmogemarknad</a><br />
<a href="http://www.jlh.shrslojd.se/" target="_blank">J&#246;nk&#246;pings l&#228;ns Hemsl&#246;jdsf&#246;rbund</a><br />
<a href="http://www.snidaruffe.com/" target="_blank">Snidar Uffe</a><br />
<a href="http://jonny.sv47.com/" target="_blank">Jonny Sl&#246;jdare</a><br />
<a href="http://thua.deviantart.com" target="_blank">Thuas Tr&#228;gubbar p&#229; Deviant Art</a><br />
<a href="http://www.myspace.com/thuawood" target="_blank">Thuas Tr&#228;gubbar p&#229; My  Space</a><br />
<a href="http://www.facebook.com/home.php?sk=group_135585779825366&amp;ap=1" target="_blank">Thuas Tr&#228;gubbar p&#229; Facebook</a><br />
<a href="http://www.facebook.com/profile.php?id=1284843481&amp;ref=nf" target="_blank">Thua Bengtsson p&#229; Facebook</a><br />
<a href="http://www.peterbe.com" target="_blank">Peter</a><br />
<a href="http://www.myspace.com/plask" target="_blank">Malin</a>
</div>
<br /><br /><br />

<!--<img src="/snideri/display-small/allmogemarknad.jpg"/>-->
<!--<img src="/lankar/display-small/dramaten.jpg"/>-->
<br />
<img src="{{ STATIC_URL }}images/ubat.jpg" />
{% endblock %}
