{% extends "base.html" %}
{% load thumbnail static %}

{% block title %}Snideri - {{ block.super }}{% endblock %}

{% block page_title %}
Snideri
{% endblock %}

{% block content %}

<p>Hejsan! Jag heter Thua Bengtsson och bor i Gränna.
Jag började snida figurer 2002. Jag har gjort lite
allt möjligt, men främst kända profiler. Du
kan beställa ett porträtt av någon du känner,
skicka i så fall med ett foto. Sakerna är gjorda i
pil och lind och gubbarna är ungefär 20-30 cm höga.
</p>


<p>


<a title="Schack">
  <img
    src="{% static "images/011-2.JPG" %}"
    style="float:left; margin-right:10px;  margin-bottom:10px"
    alt="Schack" />
</a>


<a title="Carina Swärd"><img src="{% static "images/carina.jpg" %}"
                             alt="Carina Swärd" /></a>

<a title="Bröllop"><img src="{% static "images/brollop2.jpg" %}"
                        alt="Bröllop" /></a>

<a title="Conny Scheibe"><img src="{% static "images/conny-60.jpg" %}"
    alt="Conny Scheibe" /></a>

<a title="Ola Alfredsson"><img src="{% static "images/ola.jpg" %}"
    alt="Ola Alfredsson" /></a>

<a title="Gunnar Storm"><img src="{% static "images/present.jpg" %}"
                             alt="Gunnar Storm" /></a>

<a title="Bosse Hanssen"><img src="{% static "images/bosse.jpg" %}"
    alt="Bosse Hanssen" /></a>

<a title="Bil"><img src="{% static "images/rod-bil.jpg" %}" alt="Bil" /></a>

<a title="Anders Råsberg"><img src="{% static "images/anders-r.jpg" %}"
    alt="Anders Råsberg" /></a>

</p>

{% endblock %}
