<!DOCTYPE html>
<html lang="sv-SE">
<head>

<title>{% block title %}Thuas Tr&auml;gubbar{% endblock %}</title>

<link rel="alternate" type="application/rss+xml" title="RSS" href="/bilder/rss.xml" >

<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/screen.css">

{% block extracss %}{% endblock %}

<!--<script type="text/javascript" tal:attributes="src string:${rooturl}/core.js"></script>-->
{% block extrajs %}{% endblock %}

<meta http-equiv="Content-Type" content="text/html; charset=utf-8" >

<!--
<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-94373-4']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script');
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' :
        'http://www') + '.google-analytics.com/ga.js';
    ga.setAttribute('async', 'true');
    document.documentElement.firstChild.appendChild(ga);
  })();
</script>
-->

</head>
<body>

<div id="thumbs">
{% load thumbnail %}
{% load cache %}
{% cache 600 random_busts %}
{% for bust in random_busts %}
<a href="{% url bust bust.oid %}" title="{{ bust.title }}">
{% thumbnail bust.image "50x50" crop="top" as im %}
  <img src="{{ STATIC_URL }}{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}"
       alt="{{ bust.title }}" border="0">
{% endthumbnail %}
</a>
{% endfor %}
{% endcache %}

<br />
<a href="/bilder/rss.xml"
   title="RSS f&ouml;r den som vet vad det &auml;r">RSS</a>
</div>&nbsp;<div id="main">


<div id="nav">
  <a href="/">Hem</a>
  &nbsp;
  <a href="{% url snideri %}">Snideri</a>
  &nbsp;
  <a href="{% url kontakt %}">Kontakt</a>
  &nbsp;
  <a href="{% url lankar %}">L&auml;nkar</a>
  &nbsp;
  <a href="{% url gastbok %}">G&auml;stbok</a>
  &nbsp;
</div>

<a name="top"></a>



<div id="content">
{% block header %}
<h1 id="header">
	<span>{{ root_title }}</span>
</h1>
{% endblock %}

    <h2>{% block page_title %}{{ page_title }}{% endblock %}</h2>

{% block content %}

{% endblock %}
</div>

</div><!-- end main -->


<div id="footer">

<div><p>&copy; Thua Bengtsson, {% now "Y" %}
</p></div>

</div>
<!-- end div footer -->

</body>
</html>
